*, *::before, *::after { box-sizing: border-box; }
body {
  margin: 0;
background-image: linear-gradient(to right, #1aff009c, #ffffff, #ff5100ae);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
}
a { color: inherit; }
button { font-family: inherit; }
select { font-family: inherit; }
input { font-family: inherit; }
h1, h2, h3, h4, h5, h6 { margin: 0 0 0.5rem; }
p { margin: 0; }

